on:
  repository_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@master
      - name: Publish
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          secrets: |
              SECRET_KEY
        env:
            CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
            SECRET_KEY: ${{ secrets.SECRET_KEY }}
